body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    
  }

  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #343a40;
    padding-top: 20px;
    color: #fff;
    transition: 0.3s;
  }

  #content {
    margin-left: 250px;
    margin-right: 0px;
    padding: 20px;
    transition: 0.3s;
    width: 80%;
  }

  #sidebar a {
    color: #adb5bd;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
  }

  #sidebar a:hover {
    color: #fff;
  }

  #sidebar .active {
    color: #fff;
    background-color: #495057;
  }

  #toggle-btn {
    display: none;
  }

  @media (max-width: 768px) {
    #sidebar {
      width: 250px;
      margin-left: 0px;
    }

    #content {
      margin-left: 250px;
    }

    #sidebar.show {
      width: 250px;
      margin-left: 0px;
    }
  }